# Server's port
PORT=3000

# Enter your Gmail credentials here to enable email notifications.
# For Gmail, you need to create an App Password to use instead of your regular password.
# Follow these instructions to create an App Password: https://support.google.com/accounts/answer/185833?hl=uk&sjid=1732114906036818289-EU
SMTP_USER="my_gmail_email@gmail.com"
SMTP_PASS="my_gmail_app_password"

SMTP_USER_FROM=' "RepoNotify" <my_gmail_email@gmail.com>'
FRONTEND_PORT=80

# Base URL of the backend API
BASE_URL="http://localhost:3000/api"

# Gmail settings for nodemailer
SMTP_SERVICE='gmail'
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465 # Use 465 for SSL, 587 for TLS. to work on digitalOcean set to 2525
SMTP_SECURE=true # true for 465, false for 587 (TLS)

# Enter your PostgreSQL database credentials here.
POSTGRES_USER="my_db_admin"
POSTGRES_PASSWORD="admin_password"
POSTGRES_DB="my_database_name"

POSTGRES_EXTERNAL_PORT=5432

# Manage redis connections
REDIS_PORT=6379
REDISINSIGHT_PORT=5540

# Prisma Database URL
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
#'postgres' — is name of service, mentioned in docker-compose file.
DATABASE_URL="postgresql://my_db_admin:admin_password@postgres:5432/my_database_name?schema=public"

# Github Access Token
# Enter your GitHub access token here to increase limits for fetching repository data.
# You can create a personal access token in your GitHub account settings
GITHUB_ACCESS_TOKEN="my_github_access_token"

# API Key for authentication (you can genereta in terminal like this: openssl rand -base64 32) or any other methods
API_KEY="my_super_secure_api_key"
