# ==========================================
# APP SETTINGS
# ==========================================
# Server port
PORT=3000

# Environment mode (use 'production' for live server, 'development' for local testing)
NODE_ENV=development

# Base URL of the backend API
# Local: http://localhost:3000/api
# Production: https://yourdomain.com/api
BASE_URL="http://localhost:3000/api"

# API Key for authentication (generate in terminal: openssl rand -base64 32)
ADMIN_API_KEY="my_super_secure_api_key"

# ==========================================
# EMAIL NOTIFICATIONS (RESEND)
# ==========================================
# Create an account at https://resend.com to get your API key
RESEND_USER_FROM='"RepoNotify" <noreply@yourdomain.com>'
RESEND_API_KEY='re_your_resend_api_key_here'

# ==========================================
# DATABASE (POSTGRESQL)
# ==========================================
POSTGRES_USER="my_db_admin"
POSTGRES_PASSWORD="admin_password"
POSTGRES_DB="my_database_name"

# Prisma Database URL
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
# 'postgres' is the name of the service in docker-compose.yml
DATABASE_URL="postgresql://my_db_admin:admin_password@postgres:5432/my_database_name?schema=public"

# ==========================================
# REDIS (MESSAGE QUEUE)
# ==========================================
# 'redis' is the name of the service in docker-compose.yml
REDIS_HOST="redis"
REDIS_PORT=6379

# ==========================================
# GITHUB INTEGRATION
# ==========================================
# Enter your GitHub access token here to increase rate limits for fetching repository data.
# You can create a personal access token in your GitHub account settings.
GITHUB_ACCESS_TOKEN="my_github_access_token"