# Github Access Token
# вкажіть власний токен, щоб мати доступ до приватних репозиторіїв та уникнути обмежень на кількість запитів до GitHub API.
GITHUB_ACCESS_TOKEN=your_github_access_token

# Дані для підключення до PostgreSQL
POSTGRES_USER=my_db_admin
POSTGRES_PASSWORD=admin_password
POSTGRES_DB=my_database_name

# Prisma Database URL
# Формат: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
#'postgres' — це ім'я сервісу з docker-compose
DATABASE_URL="postgresql://my_db_admin:admin_password@postgres:5432/my_database_name?schema=public"